@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.create,
.list,
.view,
.new {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background: #0F2027;
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  color: #fff;
}

/* Navbar CSS */
.navbar {
  background-color: #dfdfdf;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #000;
}

.nav-menu {
  background-color: #ffffff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #151414;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #000000;
  color: #fff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}
.titleCreate{
  justify-self: flex-start;
  align-items: center;
  position: absolute;
  top: 15%;
}

/*Lista de playlist */
#playlists{
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
}

#title-list-of-playlist{
  text-align: center;
  color: #fff;
  padding: 30px 0;
}

.playlist-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.playlist-card{
  width: 240px;
  padding: 20px 20px 15px 20px;
  margin: 0 4% 4% 4%;
  background: -webkit-linear-gradient(to bottom, #437d96, #366372, #1a465a);
  background: linear-gradient(to bottom, #437d96, #366372, #1a465a);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.playlist-card:hover{
  background: #434040;
}

.playlist-image{
  margin-bottom: 4%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.playlist-image img{
  width: 98%;
  border-radius: 15px;
}

.playlist-details{
  width: 200px;
  text-align: start;
  padding-left: 2%;
}

.playlist-details h3{
  color: #fff;
}

.playlist-details p{
  color: #BCB8B7;
}

/* Para el formulario de Crear PlayList */

.image_container {
  position: relative;
  width: 100%;
  height: 130px;
  bottom:238px;
  right: -295px;
}

.thumbnail_img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo_text {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.thumbnail_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading_primary {
  color: #fff;
  font-size: 35px;
  
}

.heading_secondary {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container_form {
  margin-top: 30px;
}

.form_group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.container_child  {
  padding: 3rem;
  height: 350px;
  width: 50%;
  border-radius: 8px;
  background: #fafafa;
  margin-bottom: 35px;
  position: relative;
  right: 310px;
  
}
#wordCount{
  color: black;
  font-size: 12px;
  position: relative;
  left: 72%;
  top: -30px;

}

.form_group {
  margin-bottom: 2rem;
}

label {
  display: block;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #555;
  margin-bottom: 0.5rem;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #0F2027;
  border-radius: 3px;
}
select {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
}

ul.list-inline {
  list-style: none;
}

ul.list-inline li {
  display: inline-block;
}

ul.list-inline li a {
  text-decoration: none;
}


input[type="submit"] {
  padding: 0.5rem 2.5rem;
  font-size: 1.2rem;
  margin-bottom: 35px;
  position: relative;
  bottom:-210px;
  right: 595px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #111;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s ease-in;
}

input[type="submit"]:hover {
  background-color: #333;
}
 
@media (max-width: 690px) {
  .image_container {
    position: relative;
    width: 100%;
    height: 100px;
    bottom:238px;
  }

  .heading_primary {
    color: #fff;
    position: relative;
    font-size: 22px;
    padding: 0 80px;
    align-items: center;
    right: 45px;
    justify-content: center;
    
  }
  
  .heading_secondary {
    color: #fff;
    font-size: 15px;
    position: relative;
    right: 45px;
    padding: 0 -30px;
  }

  .container_child  {
    padding: 3rem;
    height: 380px;
    width: 120%;
    border-radius: 8px;
    background: #fafafa;
    margin-bottom: -55px;
    position: relative;
    right: 30px;
    
  }
  
  input[type="submit"] {
    position: relative;
    top:270px;
    right: 260px;
  }
}

@media (max-width: 412px) {
  .image_container {
    position: relative;
    width: 100%;
    height: 100px;
    bottom:238px;
  }

  .heading_primary {
    color: #fff;
    position: relative;
    font-size: 22px;
    padding: 0 85px;
    align-items: center;
    right: 109px;
    justify-content: center;
    
  }
  
  .heading_secondary {
    color: #fff;
    font-size: 15px;
    position: relative;
    right: 98px;
    padding: 0 -35px;
  }

  .container_child  {
    padding: 3rem;
    height: 380px;
    width: 250%;
    border-radius: 8px;
    background: #fafafa;
    margin-bottom: -55px;
    position: relative;
    left: 50px;
    
  }
  
  input[type="submit"] {
    position: relative;
    top:270px;
    left:-130px;
  }
}
/* New Song */
.new {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 440px;
  height: 400px;
  padding: 20px;
  background-color: #f5f5f5;
  position: relative;
  left: 185px;
  bottom:185px;
  border-radius: 5px;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="submit"] {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  justify-content: center;
  align-items: center;
  position: relative;
  left:150px;
  bottom: -25px;
  border-radius: 3px;
  cursor: pointer;
}
.img{
  width: 400px;
  height: auto;
  position: relative;
  right: 355px;
  top:115px;
}
.newSong{
  font-size: 35px;
  font-weight: bold;
  position: relative;
  top: 90px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

